body {
  font-family: Verdana;
  font-size: 10pt;
  background-color: #E7E7E7; }

#container {
  width: 720px;
  position: relative;
  left: 50%;
  margin-left: -360px;
  padding: 0 25px;
  background: url(/images/bg.gif) no-repeat;
  height: 623px; }

#top {
  text-align: center; }
  #top ul {
    text-align: left; }

#left {
  width: 340px;
  float: left; }

#right {
  width: 340px;
  float: right; }


.clear {
  clear: both; }

p.quiet {
  font-size: smaller;
  color: gray; }

p.left {
  text-align: left; }
