#container

  #top 

    = img "logo.png"

    %p.left Want to help out RailsBridge? Great! Here's what you can do.
    
    %h2 Current RailsBridge Projects

    %p.left Projects on this list are actively under way. Email the contact person or join our mailing list to get involved:

    %ul
      %li Public Rails Workshops (Sarah Mei, sarahmei at gmail dot com)
      %li <a href="http://teachingkids.railsbridge.org">Teaching Ruby to Kids</a> (Sarah Allen, sarah at ultrasaurus dot com)
      %li Current Blog Information Locator (Elad Meidar, eize dot sus at gmail dot com)
      %li Online Mentoring Application (Brian Hogan, bphogan at gmail dot com)
      %li <a href="http://railstutor.org">Courseware for Newcomers to Rails</a> (<a href="mailto:dana@sterlingrosedesign.com">Dana Jones</a>)
      %li Code Reviews for Students (<a href="mailto:MikeG1@larkfarm.com">Mike Gunderloy</a>)
      %li <a href="http://rubychallenge.com/">Ruby Challenge</a> (<a href="mailto:kenesymarianna@gmail.com">Marianna Kenesy</a>). Contribute your own great challenge ideas at <a href="http://suggestions.rubychallenge.com/">Ruby Challenge Suggestions</a>.
      %li Pro Bono Site Work for Non-Profits (<a href="mailto:hardbap@gmail.com">Mike Breen<a/>)
      %li RailsBridge Wiki (<a href="mailto:jeffrey.schoolcraft@gmail.com">Jeff Schoolcraft</a>)
      %li RailsBridge Site Redesign (Elad Meidar, eize dot sus at gmail dot com)

    %h2 Proposed RailsBridge Projects
    
    %p.left Projects on this list have been discussed, but do not yet have a project lead. If you're interested in seeing one of them take off, volunteer to be the project lead by sending a message to the <a href='http://groups.google.com/group/railsbridge'>Google Group</a>:
    
    %ul 
      %li Contest for new developers, with a prize for the most creative Rails project/concept/innovation
      %li Participate in Google Summer of Code as a mentoring organization
      %li Distribute a pamphlet/presentation on <em>The proper way to grow, guide, and nurture YOUR Rails community</em>
      %li Mentorship program (parts of this have been nibbled off)
      %li Professional Association
      %li Guides & support pathways for Windows users
      %li Encourage/create blog entries and articles aimed at beginning Rails developers
      %li Position paper on what makes a good/acceptable/inclusive presentation
      %li HOWTOs for user group and conference organizers
      %li Sponsoring our own conference/camp/whatever
      %li "Stand up and be counted" badge for web sites.
      %li T-shirts for RailsBridge 
    
    %h2 RailsBridge Infrastructure
    
    %p.left There are also a few places where we're looking for leaders to help put RailsBridge itself on a firm footing:
    
    %ul
      %li Build a central repository for membership info (location, projects working on) - might be a scrapable page on the wiki
      %li Apply for 501c3 status and move on into fundraising (Mike Gunderloy is coordinating)
      
    %h2 Your Ideas
    
    %p.left We don't have all the answers! See a way to contribute to the RailsBridge mission that isn't on this list? Come tell us about it!