#container

  #top 
    = img "logo.png"

    %h1 The RailsBridge Mission:

    %p To create an inclusive and friendly Ruby on Rails community.

    %h1 The RailsBridge Guidelines:

    %ul
      %li First, do no harm. Then, help where you can.
      %li Bridge the gap from aspiring developer to contributing community member, through mentoring, teaching, and writing.
      %li Reach out to individuals and groups who are underrepresented in the community.
      %li Collaborate with other groups with similar goals.

  #left

    %h2 RailsBridge Projects:

    %p Our members are pursuing a variety of projects in support of our mission. Email the contact person or join our mailing list to get involved:

    %ul
      %li Public Rails Workshops (Sarah Mei, sarahmei at gmail dot com)
      %li Teaching Ruby to Kids (Sarah Allen, sarah at ultrasaurus dot com)
      %li Current Blog Information Locator (Elad Meidar, eize dot sus at gmail dot com)
      %li Online Mentoring Application (Brian Hogan, bphogan at gmail dot com)
      %li <a href="http://railstutor.org">Courseware for Newcomers to Rails</a> (<a href="mailto:dana@sterlingrosedesign.com">Dana Jones</a>)
      %li Code Reviews for Students (<a href="mailto:MikeG1@larkfarm.com">Mike Gunderloy</a>)
      %li <a href="http://rubychallenge.com/">Ruby Challenge</a> (<a href="mailto:kenesymarianna@gmail.com">Marianna Kenesy</a>)
      %li Pro Bono Site Work for Non-Profits (<a href="mailto:hardbap@gmail.com">Mike Breen<a/>)
      %li RailsBridge Wiki (<a href="mailto:jeffrey.schoolcraft@gmail.com">Jeff Schoolcraft</a>)
      %li RailsBridge Site Redesign (Elad Meidar, eize dot sus at gmail dot com)
      
  #right

    %h2 Get involved:

    %p To succeed, we need your help! Here's what you can do to be a part of the RailsBridge vision:

    %ul
      %li Join the <a href='http://groups.google.com/group/railsbridge'>Google Group</a>
      %li Hang with us in the #railsbridge IRC channel on <a href="http://freenode.net/">Freenode</a>
      %li Help out with a current project
      %li Propose new projects
      %li Follow us on <a href="http://twitter.com/railsbridge">Twitter</a>
      %li Work to create the community you want
  
    %p &nbsp;
    
    %form{ :action => "http://groups.google.com/group/railsbridge/boxsubscribe" }
      %input{ :type => "hidden", :name => "hl", :value => "en" }
      %h4 Subscribe to the RailsBridge Group at Google
      %p Email address:
      %input{ :type => "text", :name => "email", :size => 35 }
      %input{ :type => "submit", :name => "sub", :value => "Subscribe"}

    %h4 <a href="help.html">You can help!</a>
    
  .clear

  #bottom

    %p.quiet Ruby on Rails is a trademark of David Heinemeier Hansson